### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
###########################################################################
##                                                                       ##
##  HeroesOfPymoli_starter.ipynb / Bill Riggio / Data Boot Camp : Pandas ##
##                                                                       ##
###########################################################################

###################################
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [12]:
PlayerCount_list = purchase_data["SN"].unique()
PlayerCount = len(PlayerCount_list)
PlayerCount_df = pd.DataFrame([{"Total Players":PlayerCount}])
PlayerCount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
ItemCount_list = purchase_data["Item Name"].unique()
ItemCount = len(ItemCount_list)


ItemPrice_Total = purchase_data["Price"].sum()
ItemPrice_Count = purchase_data["Purchase ID"].count()



ItemPrice_Avg = ItemPrice_Total / ItemPrice_Count


PurchasingAnalysis_Total_df = pd.DataFrame([{"Number of Unique Items":ItemCount, "Average Price":ItemPrice_Avg,"Number of Purchases":ItemPrice_Count,"Total Revenue":ItemPrice_Total}])
PurchasingAnalysis_Total_df["Total Revenue"] = PurchasingAnalysis_Total_df["Total Revenue"].map("${:.2f}".format)
PurchasingAnalysis_Total_df["Average Price"] = PurchasingAnalysis_Total_df["Average Price"].map("${:.2f}".format)
PurchasingAnalysis_Total_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:

total_m = purchase_data.loc[purchase_data["Gender"]=="Male",:]
total_m = total_m["SN"].unique()
m_count = len(total_m)

total_f =  purchase_data.loc[purchase_data["Gender"]=="Female",:]
total_f = total_f["SN"].unique()
f_count = len(total_f)

total_oth =  purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
total_oth = total_oth["SN"].unique()
oth_count = len(total_oth)

m_perc = m_count/PlayerCount*100
f_perc = f_count/PlayerCount*100
oth_perc = oth_count/PlayerCount*100



GenDemo_df = pd.DataFrame([{"Total Count":m_count,"Percentage of Players":m_perc},
                           {"Total Count":f_count,"Percentage of Players":f_perc},
                           {"Total Count":oth_count, "Percentage of Players":oth_perc}])

GenDemo_df["Percentage of Players"] = GenDemo_df["Percentage of Players"].map("{:.2f}%".format)
GenDemo_df = GenDemo_df.rename(index={0:"Male", 1:"Female", 2:"Other / Non-Disclosed"})




GenDemo_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
Purch_other =  purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
Purch_m =  purchase_data.loc[purchase_data["Gender"]=="Male",:]
Purch_f =  purchase_data.loc[purchase_data["Gender"]=="Female",:]


Purch_oth_count = Purch_other["Purchase ID"].count()
Purch_m_count = Purch_m["Purchase ID"].count()
Purch_f_count = Purch_f["Purchase ID"].count()


TotalPurch_oth = Purch_other["Price"].sum()
TotalPurch_m = Purch_m["Price"].sum()
TotalPurch_f = Purch_f["Price"].sum()



AvgPurchPrice_oth = TotalPurch_oth / Purch_oth_count
AvgPurchPrice_m = TotalPurch_m / Purch_m_count
AvgPurchPrice_f = TotalPurch_f / Purch_f_count

AvgPurchPer_oth = TotalPurch_oth / oth_count
AvgPurchPer_m = TotalPurch_m / m_count
AvgPurchPer_f = TotalPurch_f / f_count



GendPurch_df = pd.DataFrame([
                            {"Purchase Count":Purch_f_count,"Average Purchase Price":AvgPurchPrice_f,
                             "Total Purchase Value":TotalPurch_f,"Avg Total Purchase per Person":AvgPurchPer_f},
                            {"Purchase Count":Purch_m_count,"Average Purchase Price":AvgPurchPrice_m,
                             "Total Purchase Value":TotalPurch_m,"Avg Total Purchase per Person":AvgPurchPer_m},
                            {"Purchase Count":Purch_oth_count,"Average Purchase Price":AvgPurchPrice_oth,
                             "Total Purchase Value":TotalPurch_oth,"Avg Total Purchase per Person":AvgPurchPer_oth}
                            ])

GendPurch_df = GendPurch_df.rename(index={0:"Female", 1:"Male", 2:"Other / Non-Disclosed"})
GendPurch_df["Average Purchase Price"] = GendPurch_df["Average Purchase Price"].map("${:.2f}".format)
GendPurch_df["Total Purchase Value"] = GendPurch_df["Total Purchase Value"].map("${:.2f}".format)
GendPurch_df["Avg Total Purchase per Person"] = GendPurch_df["Avg Total Purchase per Person"].map("${:.2f}".format)


GendPurch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]


age_bins_df_cons = purchase_data.drop_duplicates(subset=['SN'])
age_bins_df = pd.cut(age_bins_df_cons["Age"],bins,labels=group_names,include_lowest = True)
age_purchase_data = purchase_data.drop_duplicates(subset=['SN'])
age_purchase_data = age_purchase_data.groupby(age_bins_df)


AgeDemo_df = age_purchase_data.count()
del AgeDemo_df['SN']
del AgeDemo_df['Age']
del AgeDemo_df['Gender']
del AgeDemo_df['Item ID']
del AgeDemo_df['Item Name']
del AgeDemo_df['Price']

AgeDemo_df = AgeDemo_df.rename(columns={"Purchase ID":"Total Count"})
AgeDemo_df['Percentage of Players'] =  AgeDemo_df['Total Count']/PlayerCount * 100
AgeDemo_df["Percentage of Players"] = AgeDemo_df["Percentage of Players"].map("{:.2f}%".format)

AgeDemo_df

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]

PA_age_df = purchase_data.copy()

age_bins_PA = pd.cut(PA_age_df["Age"],bins,labels=group_names,include_lowest = True)
PA_age_df["Age Bins"] = age_bins_PA



purch_count_perBin = PA_age_df.groupby("Age Bins").SN.count()
avg_purch_perBin = PA_age_df.groupby("Age Bins").Price.mean()
tot_purch_perBin = PA_age_df.groupby("Age Bins").Price.sum()


Age_Purch_df = AgeDemo_df
Age_Purch_df['Purchase Count'] =  purch_count_perBin
Age_Purch_df['Average Purchase Price'] = avg_purch_perBin
Age_Purch_df['Total Purchase Value'] = tot_purch_perBin


singular_PA = PA_age_df.copy().drop_duplicates(subset ="SN")
singular_PA["Age Bins"] = age_bins_PA
avg_tot_perPersperBin = singular_PA.groupby("Age Bins").SN.count()
singular_purchasecount = PA_age_df.groupby("Age Bins").SN



Age_Purch_df['Average Purchase Total per Person'] = tot_purch_perBin / avg_tot_perPersperBin

Age_Purch_df["Average Purchase Price"] = Age_Purch_df["Average Purchase Price"].map("${:.2f}".format)
Age_Purch_df["Total Purchase Value"] = Age_Purch_df["Total Purchase Value"].map("${:.2f}".format)
Age_Purch_df["Average Purchase Total per Person"] = Age_Purch_df["Average Purchase Total per Person"].map("${:.2f}".format)


del Age_Purch_df['Total Count']
del Age_Purch_df['Percentage of Players']




Age_Purch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
topspenders_df = purchase_data.copy()
grouped= topspenders_df.groupby("SN")

grouped_df = grouped.count()

#cleans up old columns from the clone
grouped_df = grouped_df.drop(['Age', 'Gender','Item ID','Item Name','Price'], axis=1)

grouped_df = grouped_df.rename(columns={"Purchase ID":"Purchase Count"})
grouped_df = grouped_df.sort_values("Purchase Count",ascending=False)

#calculates and assigns the values
tot_purch_top = topspenders_df.groupby("SN").Price.sum()
grouped_df['Total Purchase Value'] = tot_purch_top
avg_purch_top = tot_purch_top / grouped_df['Purchase Count']
grouped_df['Average Purchase Price'] = avg_purch_top

#formats the data as currency
grouped_df["Total Purchase Value"] = grouped_df["Total Purchase Value"].map("${:.2f}".format)
grouped_df["Average Purchase Price"] = grouped_df["Average Purchase Price"].map("${:.2f}".format)

grouped_df = grouped_df.sort_values(["Purchase Count","Total Purchase Value"],ascending=False)


#rearranges the columns
grouped_df = grouped_df[['Purchase Count','Average Purchase Price','Total Purchase Value']]

#previews the dataframe
grouped_df.head(10)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Iral74                     4                  $3.40               $13.62
Haillyrgue51               3                  $3.17                $9.50
Aina42                     3                  $3.07                $9.22
Rarallo90                  3                  $3.02                $9.05
Aelin32                    3                  $2.99                $8.98
Lisopela58                 3                  $2.95                $8.86
Saedaiphos46               3                  $2.94                $8.83
Chanastnya43               3                  $2.94                $8.82

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
popitems_df = purchase_data.copy()
popularitems= popitems_df.groupby(['Item ID','Item Name'])

popularitems_df = popularitems.count()

popularitems_df = popularitems_df.drop(['Age', 'Gender','SN','Price'], axis=1)

popularitems_df = popularitems_df.rename(columns={"Purchase ID":"Purchase Count"})
popularitems_df = popularitems_df.sort_values("Purchase Count",ascending=False)


popitems_indexlist = list(popularitems_df.index.values)

ItemID_List = []
ItemPrice_List = []
TotValue_List = []

for x in popitems_indexlist:
    
    ItemID_List.append(list(x)[0])

    


for IDnum in ItemID_List:
    price = popitems_df.loc[popitems_df['Item ID'] == IDnum, 'Price']

    ItemPrice_List.append(price.mean())
    


for IDnum in ItemID_List:
    TotValue = popitems_df.loc[popitems_df['Item ID'] == IDnum, 'Price']

    TotValue_List.append(TotValue.sum())
    


    
popularitems_df["Item Price"] = ItemPrice_List
popularitems_df["Item Price"] = popularitems_df["Item Price"].map("${:.2f}".format)

popularitems_df["Total Purchase Value"] = TotValue_List

popularitems_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,1.75
51,Endbringer,1,$4.66,4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,2.17
104,Gladiator's Glaive,1,$1.93,1.93
91,Celeste,1,$4.17,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:

popularitems_sort_df = popularitems_df.copy()
popularitems_sort_df = popularitems_df.sort_values(by='Total Purchase Value', ascending=False)

popularitems_sort_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,2.12
126,Exiled Mithril Longsword,1,$2.00,2.00
125,Whistling Mithril Warblade,2,$1.00,2.00
104,Gladiator's Glaive,1,$1.93,1.93
42,The Decapitator,1,$1.75,1.75